@using HotelierMVC.Areas.admin.ViewModels
@model List<GetEmployeeVM>

@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employee table</h4>
            <a asp-action="create" class="btn btn-info">Create employee</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Surname
                            </th>
                            <th>
                                Major Name
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Settings
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GetEmployeeVM employeeVM in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @employeeVM.Name
                                </td>
                                <td>
                                    @employeeVM.Surname
                                </td>
                                <td>
                                    @employeeVM.MajorName
                                </td>
                                <td>
                                    <img src="~/assets/img/@employeeVM.Image" />
                                </td>
                                <td>
                                    <a asp-action="update" asp-controller="employee" class="btn btn-warning" asp-route-Id="@employeeVM.Id"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a asp-action="delete" asp-controller="employee" class="btn btn-danger" asp-route-Id="@employeeVM.Id"><i class="mdi mdi-delete"></i></a>

                                </td>
                            </tr>


                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>